.App{
  height: 100%;
  background-image: url("https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fforbesfinancecouncil%2Ffiles%2F2018%2F07%2Fpexels-photo-990818-3-1200x730.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
